{% extends 'template.html' %}
{% block body %}
<h2 class="title_product">List Categories</h2>
<a href="/category/create">Create new</a>
<table style="width:100%">

    <tr>
        <th>Name</th>
        <th>Category</th>
    </tr>

    {% for category in categories%}
    <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
            <a href="/category/update?id={{category.id_}}">
                Edit
            </a>
        </td>
        <td>
            <a href="/category/delete?id={{category.id_}}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}